.header {
  background: white;
  border-bottom: 1px solid #ececec;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}